{% extends "base.html" %}
{% load static %}

{% block headExtras %}
{{block.super}}
	<script src="{% static 'geocamUtil/js/zmq.js' %}" type="text/javascript"></script>
	<script src="{{ EXTERNAL_URL }}jquery/dist/jquery.min.js" type="text/javascript"></script>
 	<script src="{{ EXTERNAL_URL }}masonry/dist/masonry.pkgd.min.js" type="text/javascript"></script>
 	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.js"></script>
 	<script src="{{ EXTERNAL_URL }}jquery.tagsinput/src/jquery.tagsinput.js" type="text/javascript" ></script>
 	<script src="{{ EXTERNAL_URL }}jquery-form/jquery.form.js" type="text/javascript" ></script>
  	<script src="{% static 'xgds_video/js/video_size_utils.js' %}" type="text/javascript" ></script>
  	<script type="text/javascript">
    	var STATIC_URL = '{{STATIC_URL}}'; //TODO do we need this?
        var submitNoteUrl = "{% url 'record_simple' %}";
    </script>
 	<script src="{% static 'xgds_video/js/liveImageStream.js' %}" type="text/javascript"></script>
 	{% if INCLUDE_NOTE_INPUT %}
 	<script src="{% static 'xgds_video/js/video_notes_form.js' %}" type="text/javascript" ></script>
 	{% endif %}
{% endblock headExtras %}

{% block cssExtras %}
 {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery.tagsinput/dist/jquery.tagsinput.min.css"></link>
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.css" ></link>
	<link rel="stylesheet" type="text/css" href="{% static 'xgds_video/css/xgds_video.css' %}"></link>
{% endblock cssExtras %}

{% load nav %}
{% block siteSection %} Video {% endblock %}

{% block sitemenu-content-secondary %}
	{% include "xgds_video/image_stream_subnav.html" %}
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}

  zmqURL = {{ zmqURL|safe }};
{% endblock %}

{% block contents %}
	Socket Status: <span id="socketStatus"></span>
	<div id="container" class="js-masonry" data-masonry-options='{"itemSelector": ".item", "gutter":5, "isInitLayout":false}'>
		{% for source in sources %}
			<div class="item" id="item{{ forloop.counter }}" style="background-color:#e5e5e5;">
	            <div> <b>{{ source.name }}</b>
                          Frame: <span id="frame_{{ source.shortName }}"></span>
                          <br>
                          <span id="timestamp_{{source.shortName }}"></span>
                </div>
                {% if INCLUDE_NOTE_INPUT %}
				<section>
	            {% include "xgds_video/video_notes.html" with data=source.form source=source %}
	            </section>
	            {% endif %}
	 			<img class='imageStream' style='display:block;' id="cameraImage{{ source.shortName }}" src="" alt="camera image {{source.shortName}}"></img>
	 		</div>
 		{% endfor %}
	</div>

    <script type="text/javascript">
    var $container = $('#container').masonry();
    </script>
 {% endblock %}
{% block jsInit %}
  {{ block.super }}
	$(function() {
		xgds_video.zmqInit();
	});
{% endblock %}
