{% extends "base.html" %}
{% block headExtras %}
{{block.super}}
<script src="{{ EXTERNAL_URL }}jquery/dist/jquery.min.js" type="text/javascript"></script>
<!--  TODO QUICKTIME NO LONGER WORKS -->
 <!--   script src="{{ EXTERNAL_URL }}AC_QuickTime/index.js" language="javascript" type="text/javascript"></script -->
 <!-- END TODO -->
 <script src="{{ EXTERNAL_URL }}masonry/dist/masonry.pkgd.min.js" type="text/javascript"></script>
 <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
 <script src="{{ EXTERNAL_URL }}jquery-form/jquery.form.js" type="text/javascript" ></script>
  <script src="{{ STATIC_URL }}xgds_video/js/video_size_utils.js" type="text/javascript" ></script>
  <script type="text/javascript">
    var STATIC_URL = '{{ STATIC_URL }}';
    var submitNoteUrl = "{% url 'record_simple' %}";
 	var maxWidth = getMaxWidth({{videoFeedData|length}});
 	var isLive = true;
</script>
{% if False %}
 <script src="{{ STATIC_URL }}xgds_video/js/video_notes_form.js" type="text/javascript" ></script>
 {% endif %}
 {% endblock headExtras %}
 
 {% block cssExtras %}
 {{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery.tagsinput/dist/jquery.tagsinput.min.css"></link> -->
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_video/css/xgds_video.css"></link>
{% endblock cssExtras %}

{% block scripts %}
 {% endblock scripts %}

{% load nav %}
{% block siteSection %}Video{% endblock %}
    {% block nav %}
    {% nav "xgds_video_flights" %}
    {{ block.super }}
    {% endblock %}
    
    {% block sitemenu-content-secondary %}
	{% include "xgds_video/video_subnav.html" %}
    {% endblock %}
	
{% block contents %}
If plugin is missing, download <a href="https://support.google.com/chrome/answer/2445742?hl=en">Quicktime Plugin For Chrome</a>

<div id="container" class="js-masonry" data-masonry-options='{  "itemSelector": ".item", "gutter":5}'>

{% for feed, form in videoFeedData %}
<script language="javascript" type="text/javascript">
	  var size = calculateSize(maxWidth, {{ feed.settings.height }}, {{ feed.settings.width  }});
</script>
 <div class="item" id="item{{ forloop.counter }}">
	     <div class="buttons">
	     	<div class="toprow-left"><b>Live feed: {{ feed.name }}</b></div>
	     	<span class="toprow-right">
	     	<label for="id_size{{forloop.counter}}" >Size </label>
   			<select  onchange="if (this.selectedIndex > -1) resizeWindow(this.selectedIndex, {{forloop.counter}});" id="id_size{{forloop.counter}}">
		  		<option value="half">Half</option>
  		  		<option value="actual" selected="selected">Actual</option>	  
		  		<option value="full">Full</option>
			</select>
	     	<a class="mybutton" href="{% url 'xgds_video_recorded' %}?source={{ feed.source.shortName }}">Recorded</a>
	     	</span>
	     </div>
	     {% if INCLUDE_NOTE_INPUT %}
	     <section>
	     {% include "xgds_video/video_notes.html" with data=form source=feed.source.shortName STATIC_URL=STATIC_URL %}
	     </section>
	     {% endif %}
	     <script language="javascript" type="text/javascript">
		  $("#item{{ forloop.counter }}").css({"width":size[0],"height":size[1]+100}); 
		  QT_WriteOBJECT('http://spongebob.snrf.nasa.gov/static/{{ feed.name }}Stream.mov',  '100%', /* feedHeight */'100%', '', 'AUTOPLAY',
		                 'True', 'qtsrc', '{{ feed.url }}', 'AutoHREF', 'True', 'SCALE', 'Aspect', 'EnableJavaScript', 'True', 'Controller', 'False', 'TARGET', 'Myself',
		                 'emb#NAME' , 'movie{{ forloop.counter }}');
		</script>
</div> <!-- item -->
{% endfor %}
</div>
{% endblock %}

{% block jsInit %}
function resizeWindow(index, counter){
	width = 0;
	height = 0;
	
	maxWidth = window.innerWidth ||document.documentElement.clientWidth ||document.body.clientWidth;
	maxWidth = maxWidth - 100;
	actualSize = size
	
	if(index == 0) { //half
		width = actualSize[0] / 2;
		height = (actualSize[1]/2) +100;
 	} else if (index == 1) { //actual
		width = actualSize[0];
		height = actualSize[1] + 100;
	} else if (index == 2) { //full
		width = actualSize[0]*2;	
		height = actualSize[1]*2 +100;
	} else{
		console.log("wrong size selected!!!");
	}
	$("#item"+counter).css({"width":width,"height":height});
	
	//rearrange the windows
	var $container = $('#container');
	$container.masonry({
    	reload: true
  	});
}
{% endblock jsInit %}


