{% extends "base.html" %}
{% load nav %}
{% block siteSection %}{{ table_title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}

{% block scripts %}
{{block.super}}
	<script src="{{ STATIC_URL }}geocamUtil/js/zmq.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}xgds_video/js/imageCarousel.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}external/js/masonry.pkgd.min.js" ></script>
	
	<!-- xgds notes -->
    <script src="{{STATIC_URL}}external/js/jquery/jquery.tagsinput.js" type="text/javascript" ></script>
 	<script src="{{STATIC_URL}}external/js/jquery/jquery.form.min.js" type="text/javascript" ></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}external/js/date.js"></script>
 	<script type="text/javascript">
		var STATIC_URL = '{{STATIC_URL}}';
    	var submitNoteUrl = '{% url record_simple %}';
    </script>
 	<script src="{{STATIC_URL}}xgds_video/js/video_notes_form.js" type="text/javascript" ></script>
{% endblock scripts %}

{% block jsSetVars %}
  {{ block.super }}

  zmqURL = {{ zmqURL|safe }};
{% endblock %}


{% block contents %}						
	Socket Status: <div id="socketStatus"></div>
	
	<div id="container" class="js-masonry" data-masonry-options='{"itemSelector": ".item", "gutter":5, "isInitLayout":false}'>
		<div class="item" id="item" style="background-color:grey;">
			<section>
            {% include "xgds_video/video_notes.html" with data=source.form source="ROV" STATIC_URL=STATIC_URL %}
            </section>
 			<img style='display:block;' id=cameraImage src=""></img>
 		</div>
		<div class="item" id="item" style="background-color:grey;">
			<section>
            {% include "xgds_video/video_notes.html" with data=source.form source="ROV" STATIC_URL=STATIC_URL %}
            </section>
 			<img style='display:block;' id="cameraImage2" src=""></img>
 		</div>
	</div>
	
 {% endblock %}

{% block jsInit %}
  {{ block.super }}
	$(function() {
		xgds_video.zmqInit();
	});
	
{% endblock %}