{% extends 'xgds_notes2/map_record_notes.html' %}

{% load nav %}
{% load siteFrames %}
{% load xgds_data_extras %}
{% block siteSection %}Video{% endblock %}

{% block nav %}
    {% nav "xgds_video_recorded" %}
    {{ block.super }}
{% endblock %}

{% block sitemenu-content-secondary %}
	{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    {% include "xgds_video/VideoCSS.html" %}
 {% endblock cssExtras %}

 {% block scripts %}
	{{block.super}}
	{% include "xgds_video/VideoJS.html" with JWPLAYER_KEY=settings.JWPLAYER_KEY %}
	{% block videoscripts %}
	{% endblock videoscripts %}
{% endblock scripts %}
 
 {% block extraAppOptions %}
 	showDetailView:false,
 {% endblock extraAppOptions %}

{% block gridstackWidth %}grid-stack-12 {% endblock gridstackWidth %}

 {% block preDashboard %}
 	{% block errorMessages %}
	{% if messages %}
	<div id="errorMessagesDiv">
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for message in messages %}
	        <li>{% if message.tags %} {{ message.tags }}: {% endif %}  {{ message }}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	{% endblock errorMessages %}
	
 		
 		{% block ribbonSlider %}
 		{% if segmentsJson %}
 		<fieldset id="videoFieldset">
 			 {% if not isLive %}
 			  <div id="ribbon"></div>
 			  {% endif %}
		 	  <div id="masterSlider" class="masterSlider" >
		 	  </div>
 		</fieldset>
 		{% endif %}
 		{% endblock ribbonSlider %}
 	
{% endblock preDashboard %}

{% block buttonrowLeft %}
	{% if segmentsJson %}
    		<div id="controllers" > 
    			<div class="controller_div">
	          	<a class="btn btn-primary btn btn-primary-info" id="playbuttonLink" href="#" onclick="xgds_video.playButtonCallback()">
	              <i id="playbutton" class="fa fa-play fa-lg" onclick="xgds_video.playButtonCallback()"></i>
	              </a>
	            <a class="btn btn-primary btn btn-primary-info" id="pausebuttonLink" href="#" onclick="xgds_video.pauseButtonCallback()">
	              <i id="pausebutton" class="fa fa-pause fa-lg active" onclick="xgds_video.pauseButtonCallback()"></i>
	              </a>
	             </div>
	          </div>
	    	<div id="infoTable" class="h4 mt-1 ml-5">
	    		{% if episode %}
		   				<b> {{ settings.XGDS_PLANNER2_FLIGHT_MONIKER }}: </b>
		   				<span> {{ episode.shortName }} </span>
		   			</tr>
	   			{% endif %}
	   			{% if not isLive %}
	   				<b class="ml-2">Local Time: </b>
	   				<span id="sliderTimeLabel"></span>
	   			{% endif %}
	   		</div>
	   	{% endif %}
	   	{% endblock buttonrowLeft %}
	   	
	   	{% block buttonrowRight %}
	   	{% if segmentsJson %}
	   		{% block jumpto %}
	   		<div id="seekTimeBox" class="d-flex flex-row align-items-center">
				<label for="seekTime">Jump to:</label>
	   			<input  id="seekTime" type="text" name="text-input" placeholder="HH:MM:SS" class="stylish" style="max-width:140px"/>
	   			<button type="submit" class="btn btn-primary ml-1" id="seekButton" onclick='xgds_video.seekCallBack()'> Go </button>
	   		</div>
	   		{% endblock jumpto %}
		{% endif %}
 		{% endblock buttonrowRight %}

{% block preSearchDiv %}

{% block videodivs %}
{% if segmentsJson %}
        {% block videoSources %}
        {% for source in sources %}
        <div id="source{{forloop.counter}}-gridstack-item" class="grid-stack-item" 
			data-gs-x="{% if forloop.counter|modulo:2 == 0 %}6{% else %}0{% endif %}" data-gs-y="0"
        	data-gs-width="{% if sources|length > 1 %}6{% else %}12{% endif %}" data-gs-height="{% if sources|length > 1 %}17{% else %}34{% endif %}" >
        	<div class="grid-stack-item-content video-div" id="item{{forloop.counter}}" style="background-color:{{ source.displayColor }};">
        		<ul class="nav justify-content-end ">
                	<i class="fa fa-lock pinDiv gray-light mr-1"></i>
					<i class="fa fa-window-close gray-light fa-lg"></i>
				</ul>
	            <div class="buttons mt-negative-1rem">
	                 <div class="toprow-left"><b>{{ source.name }}</b></div>
	                 <a class="btn btn-primary toprow-right small" href="{% url 'xgds_video_recorded' flightName source.shortName %}" target="{% if sources|length > 1 %}{{flightName}}_{{source.shortName}}{% else %}_blank{% endif %}" style="width:130px">New Window</a>
                     <!-- <a class="btn btn-primary toprow-right small" href="#" onClick="showStillViewer('{{flightName}}', '{{source.shortName}}', getUrlFormatPlayerTime('{{source.shortName}}'));">Still</a> -->
                     {% with feed=source.feed_set.all.0.shortName %}
	                 {% if feed %}
	                     <a class="btn btn-primary" id=toprow href="{% url 'xgds_video_live' feed %}">Live</a>
	                 {% endif %}
	                 {% endwith %}
	            </div>
				<!-- <section id="{{source.shortName}}_noteInput"> -->
					{% include "xgds_video/video_notes.html" with data=source.form source=source.shortName color=source.displayColor %}
             	<!-- </section>  -->
             	<!--embed the video-->
             	<section>
              		<div id="player_container" class="nav justify-content-center"> <!-- float-left">  -->
             			<div id="{{ source.shortName }}" ></div>
             		</div> <!--  player-container -->
             		<div id="{{ source.shortName }}Label" > </div>
             	</section>
             	{% if not isLive %}
             	<section>
             		<div >
                 	Local Time: <span id="testSiteTime{{ source.shortName }}">0</span>
             		</div>
             	</section>
             	{% endif %}
            </div><!--  item -->
         </div><!--  gridstack item -->
        {% endfor %}
        {% endblock videoSources %}
{% endif %}
{% endblock videodivs %}
{% endblock preSearchDiv %}

{% block searchDiv %}
<div id="search-gridstack-item" class="grid-stack-item" 
		data-gs-x="4" data-gs-y="60"
        data-gs-width="6" data-gs-height="20" style="display:none;">
        <div class="grid-stack-item-content" id="search-gridstack-item-content" >
        	<ul class="nav justify-content-end ">	
	        	<i class="fa fa-lock pinDiv gray-light mr-1"></i>
	    		<i class="fa fa-window-close gray-light fa-lg"></i>
	    	</ul>
			<div id="searchDiv" class="mt-negative-1rem" style="display:none;"></div>
		</div>
</div>
{% endblock searchDiv %}

{% block searchResultsDiv %}
<div id="search-results-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="60"
        data-gs-width="6" data-gs-height="30" >
        <div class="grid-stack-item-content" id="search-results-gridstack-item-content" >
	        <ul class="nav justify-content-end ">
	        	<i class="fa fa-refresh mr-1" title="Reload Latest" id="reloadSearchResults"></i>
				<i class="fa fa-lock pinDiv gray-light mr-2"></i>
				<i class="fa fa-window-close gray-light fa-lg"></i>
			</ul>
			<div id="searchResultsDiv" class="mt-negative-1rem"></div>
			
		</div>
</div>
{% endblock searchResultsDiv %}

{% block viewDiv %}
<div id="view-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="60"
        data-gs-width="6" data-gs-height="40" style="display:none;" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content" >
        	<ul class="nav justify-content-end">
				<i class="fa fa-lock pinDiv gray-light mr-1"></i>
				<i class="fa fa-window-close gray-light fa-lg"></i>
			</ul>
			<div class="mt-negative-1rem">
				<a href="#" id="view-new-window-target" target="_blank" class="btn btn-primary"><i class="fa fa-window-restore fa-fw mr-1" aria-hidden="true"></i>New Window</a>
				<button class="info btn btn-primary prev-button" id="prev_button"><i class="fa fa-backward"></i></button>
				<strong id="nameBlock"></strong>
				<button class="info btn btn-primary next-button" id="next_button"><i class="fa fa-forward"></i></button>
			</div>
			<div id="viewDiv">
			</div>
			<div id="notesDiv">
			</div>
		</div>
</div> 
{% endblock viewDiv %}

{% block map %}
<div id="map-gridstack-item" class="grid-stack-item" 
	  data-gs-x="6" data-gs-y="40"
      data-gs-width="4" data-gs-height="20" >
	<div class="grid-stack-item-content" id="map-gridstack-item-content" >
		<ul class="nav justify-content-end">
			<i class="fa fa-lock pinDiv gray-light mr-1"></i>
			<i class="fa fa-window-close gray-light fa-lg"></i>
		</ul>
		
      		{% siteframe_form %}
		<div id="map"></div>
	</div>
</div>
{% endblock map %}


{% block otherJSInit %}
{{ block.super }}
{% block jsInitVideo %}
{% block setupIndexUrl %}

var indexFileUrl = null;

{% if episode %}
    indexFileUrl = "/xgds_video/videoIndexFile/flightName/sourceShortName/segmentIndex/";
{% endif %}
{% endblock setupIndexUrl %}

{% block initSegments %}
{% if segmentsJson %}
	{% block xgds_video_options %}
    xgds_video_options = { playFlag: false,
                       		   seekFlag: false,
		                       initialState: false,
		                       seekOffsetList: {},
		                       episode: {{ episodeJson|safe }},
		                       displaySegments: {{ segmentsJson|safe }},
		                       firstSegment: null,
		                       lastSegment: null,
		                       onTimePlayer: "{{ sources.0.shortName }}",
		                       movingSlider: false, //if slider is moving, turn off onTime call
		                       seekOffsetList: {}, //needed for seeking vid in flash mode,
		                       indexFileUrl: indexFileUrl,
			                   noteTimeStamp: '{{ noteTimeStamp|safe }}',
			                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
			                   sourceVehicle: {{ sourceVehicle|safe }},
			                   timeZone: '{{ flightTZ }}',
        					   hasMasterSlider:true
		                     };
	{% endblock xgds_video_options %}

    {% endif %}
    {% endblock initSegments %}

	{% block hookControls %}
	{% if segmentsJson %}
	xgds_video_instance = xgds_video.initialize(xgds_video_options);
    //set up the slider and the player
    if (xgds_video.options.hasMasterSlider){
    	xgds_video.setupSlider();
    }
    xgds_video.setupJWplayer({"mute":true}, "95%");
    {% endif %}
    {% endblock hookControls %}
    
    {% block lastJsInit %}
    $(function() {
		xgds_video.startPlayers();
		var videoContainers = $(".video-div");
		for (var i=0; i < videoContainers.length; i++){
				xgds_notes.setupNotesUI($(videoContainers[i]));
		}
		
		//TODO for now we are removing the search from gridstack.  If we want search on this page we will have to add it back.
		var sgi = $("#search-gridstack-item");
		xgds_gridstack.THE_GRIDSTACK.removeWidget(sgi);
		
		// clear out the today button for recorded playbacks
		$("#today").prop('checked', false);
	});
	{% endblock lastJsInit %}
	
	{% endblock jsInitVideo %}

{% endblock otherJSInit %}

{% block initializeNotes %}
{% endblock initializeNotes %}

{% block eventTimeFunction %}
{% endblock eventTimeFunction %}

{% block cleanDataFunction %}
xgds_notes.cleanData = function(data, containerDiv){
	var columns = app.options.searchModels.Note.columns;
	result = [];
	for (var i=0; i < columns.length; i++) {
		result.push(data[columns[i]]);
	}
	return result;
}
{% endblock cleanDataFunction %}

{% block layers %}
<div id="layers-gridstack-item" class="grid-stack-item" 
	  data-gs-x="10" data-gs-y="40"
      data-gs-width="2" data-gs-height="20" >
	<div class="grid-stack-item-content" id="layers-gridstack-item-content">
	<ul class="nav justify-content-end ">
		<i class="fa fa-lock pinDiv gray-light mr-1"></i>
		<i class="fa fa-window-close fa-lg gray-light"></i>
	</ul>
	<div id="layers" class="mt-negative-1rem"></div>
	</div>
</div>
{% endblock layers %}

{% block initGridstack %}
    var gsOptions = {width:12,
                     cellHeight: 20,
	                 verticalMargin: 5,
                     horizontalMargin: 5};
    xgds_gridstack.initializeGridstack(gsOptions);
{% endblock initGridstack %}

{% block jsInitPreApp %}
{% endblock jsInitPreApp %}
