{% extends "xgds_video/map_recorded_playbacks.html" %}
{% load static %}

{% block videoscripts %} 
	{{block.super}}
	<script src="{% static 'xgds_core/js/sseUtils.js' %}"></script>
    <script src="{{ STATIC_URL }}xgds_video/js/activeVideoUtils.js"></script>
    <script src="{{ STATIC_URL }}xgds_video/js/videoSseUtils.js"></script>
	<script type="text/javascript">
        isLive = true;
        videoSse.initialize();
    </script>
{% endblock videoscripts %}

    {% block xgds_video_options %}
    xgds_video_options = { playFlag: true,
                       		   seekFlag: false,
		                       initialState: false,
		                       seekOffsetList: {},
		                       episode: {{ episodeJson|safe }},
		                       displaySegments: {{ segmentsJson|safe }},
		                       firstSegment: null,
		                       lastSegment: null,
		                       onTimePlayer: "{{ sources.0.shortName }}",
		                       movingSlider: false, //if slider is moving, turn off onTime call
		                       seekOffsetList: {}, //needed for seeking vid in flash mode,
		                       indexFileUrl: indexFileUrl,
			                   noteTimeStamp: '{{ noteTimeStamp|safe }}',
			                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
			                   sourceVehicle: {{ sourceVehicle|safe }},
			                   timeZone: '{{ flightTZ }}',
        					   hasMasterSlider:false
		                     };
	$('#playbutton').addClass("active");
	$('#pausebutton').removeClass("active");
	{% endblock xgds_video_options %}
	
{% block jumpto %}
{% endblock jumpto %}