{% extends 'xgds_video/map_recorded_playbacks.html' %}
{% load nav %}
{% load multiply %}
{% load static %}

{% block nav %}
    {% nav "xgds_video_live" %}
    {{ block.super }}
{% endblock %}

	
	{% block buttonrowLeft %}
			<div id="infoTable" class="h4 mt-1">
	    		{% if episode %}
		   				<b> Live Video for {{ settings.XGDS_PLANNER_FLIGHT_MONIKER }}: </b>
		   				<span> {{ episode.shortName }} </span>
		   			</tr>
	   			{% endif %}
	   		</div>
 {% endblock buttonrowLeft %}
 
 {% block buttonrowRight %}
 {% endblock buttonrowRight %}
 
 {% block ribbonSlider %}
 		<fieldset id="videoFieldset" style="display:none;">
		 	  <div id="masterSlider" class="masterSlider" ><br/></div>
 		</fieldset>
 {% endblock ribbonSlider %}
 
 {% block videodivs %}
 
 {% for source, noteform in zipped %}
        <div id="view-gridstack-item-{{source.name}}" class="grid-stack-item" 
		data-gs-x="{{ forloop.counter0|multiply:6 }}" data-gs-y="0"
        data-gs-width="{% if zipped|length > 1 %}6{% else %}6{%endif %}"
             data-gs-height="{% if zipped|length > 1 %}17{% else %}34{%endif %}" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content-{{source.name}}" style="background-color:{{ source.displayColor }};">
	        	<ul class="nav justify-content-end">
	        		<i class="fa fa-lock pinDiv mr-1"></i>
	        		<i class="fa fa-window-close fa-lg"></i>
				</ul>
	            <div class="mt-negative-1rem" id="{{source.shortName}}_noteInput">
	                <strong class="big">{{ source.name }}</strong>
             		<a href="{% url 'xgds_video_live_source' source.shortName %}" target="{% if zipped.count > 1 %}{{episode.shortName}}_{{source.shortName}}{% else %}_blank{% endif %}" class="btn btn-primary"><i class="fa fa-window-restore fa-fw mr-1" aria-hidden="true"></i>New Window</a>
             		<!-- <section id="{{source.shortName}}_noteInput"> -->
             		{% include "xgds_video/video_notes.html" with data=noteform source=source.shortName color=source.displayColor %}
             		<!-- </section> -->
             		
	            </div>
             	<!--embed the video-->
             	<section>
              		<div id="player_container" class="nav justify-content-center"> 
             			<div id="{{ source.shortName }}" ></div>
             		</div> <!--  player-container -->
             		<div id="{{ source.shortName }}Label" > </div> 
             	</section>
            </div><!--  item -->
        </div>
        {% endfor %}

	{% endblock videodivs %}
 
{% block scripts %}
	{{block.super}}
	{% block videoscripts %}
	<script type="text/javascript" src="{% static 'xgds_video/js/liveVideoPlayer.js' %}"></script>
    {% endblock videoscripts %}
{% endblock %}

{% block jsInitVideo %}
	{% for source, noteForm in zipped %}
		xgds_video.buildLiveJWPlayer('{{source.name}}', '{{source.videofeed_set.first.realtimeUrl}}', '{{source.videofeed_set.first.settings.aspectRatio}}');
		xgds_notes.setupNotesUI($("#{{source.name}}_noteInput"));
	{% endfor %}
{% endblock jsInitVideo %}

