<html>
<head>
<title>Video Stream Viewer</title>
<script type="text/javascript" src="{{ EXTERNAL_URL }}jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="{{ settings.JWPLAYER_KEY }}";</script>
</head>

<body>
<div id="myPlayer1">Loading JW Player...</div>

<script type="text/javascript">
    jwplayer("myPlayer1").setup({
    	//hlshtml: true,
//        file: "/streamtest/Camera1/prog_index.m3u8",
//        file: "rtmp://dev.wowza.longtailvideo.com/vod/_definst_/sintel/640.mp4", 
//        file: "https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8?DVR",
        file: "rtmp://10.10.24.55:1935/live/mp4:bp1-720p.sdp",
        width:1040,
        height:450,
//        aspectratio:"16:9", 
        skin: "stormtrooper",
      	listbar: {
           position: "right",
	   		size: 240
		},
    });
    jwplayer("myPlayer1").onReady(function(){
	    console.log("player ready!");
	});
    jwplayer("myPlayer1").onPlaylist(function(){
	    console.log("playlist loaded");
	});
</script>
</body>
</html>
