
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
          <script type="text/javascript" src="{{ STATIC_URL }}external/js/jwplayer/jwplayer.js"></script>
         <script type="text/javascript">
                jwplayer.key="Wu88H+wZ8jZd7qICLr7IEKSmml1/EOMXWYcblA/CJVk=";
		       var STATIC_URL='{{ STATIC_URL }}';
		       var submitNoteUrl = '{% url record_simple %}';
		       var isLive = false;
        </script>
          <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery.js"></script>
          <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}external/css/jquery/jquery.tagsinput.css"></link>
          <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}external/css/jquery/jquery-ui.css"></link>
          <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
        <title>Multiple 2</title>
    </head>


    <body bgcolor="#EEE">
            <div id="masterSlider"></div>
            <br />  
            <div id="container0"></div>
            <br />
            <div id="container1"></div>
            <br />
            <div id="container2"></div>
            <script type="text/javascript">
            //onTime call is on for this player
            //var onTimePlayer = "container0"; //player id

            for (var i=0; i<3; i++) {
                jwplayer("container"+i).setup({
	                file: "http://www.longtailvideo.com/jw/upload/bunny.mp4",
	                height: 270,
	                width: 480,
	                autostart: true,
	                controlbar: "bottom",
	                stretching: "exactfit",
	                listbar: {
	                    position: 'right',
	                    size: 110
	                },
	                events: {}
                });

                 var playlist = [];
                for (var p=0; p<2; p++) {
                    var newItem = { file: "/data/20140715_HAZ1/Video/Recordings/Segment000/prog_index.m3u8",
                                    title:  "item"
                                  };
                    playlist.push(newItem);
                }
                jwplayer("container"+i).load(playlist); 
            }

            </script>
    </body>
</html>
