{% extends "base.html" %}
{% block headExtras %}
 {{ block.super }}
 <script src="{{ STATIC_URL }}javascript/AC_QuickTime.js" language="javascript" type="text/javascript"></script>
 <script src="{{ STATIC_URL }}jquery/js/masonry.pkgd.min.js" type="text/javascript"></script>
 <script src="{{ STATIC_URL }}external/js/jquery.min.js" type="text/javascript"></script>
{% endblock headExtras %}
{% load nav %}
{% block siteSection %}Video{% endblock %}
    {% block nav %}
    {% nav "video.live" %}
    {{ block.super }}
    {% endblock %}
    
    {% block sitemenu-content-secondary %}
	{% include "xgds_video/video_subnav.html" %}
    {% endblock %}
	
{% block contents %}

<script language="javascript" type="text/javascript">
function getMaxWidth() {
	  var width = window.innerWidth ||
    document.documentElement.clientWidth ||
    document.body.clientWidth;
	  {% if videoFeedData|length > 1 %}
	  width = Math.round(width/2);
	  {% endif %}
	  width = width - 50;
	  return width;
}

function calculateHeight(newWidth, defaultHeight, defaultWidth) {
	  var newHeight = defaultHeight;
     if (defaultWidth > newWidth){
         ratio = newWidth / defaultWidth
         newHeight = Math.round(defaultHeight * ratio)
     }
     return newHeight;
}

var maxWidth = getMaxWidth();
</script>

<div id="container" class="js-masonry" data-masonry-options='{  "itemSelector": ".item", "gutter":5}'>
{% for feed, form in videoFeedData %}
<script language="javascript" type="text/javascript">
	  var feedHeight = calculateHeight(maxWidth, {{ feed.settings.height }}, {{ feed.settings.width  }});
</script>
<div class="item" id="item{{ forloop.counter }}" style="background:#CACACA;  margin-bottom: 5px; padding: 8px;border-style:solid; border-width:2px;">
	<div style="float:left; text-align: left"><b>Live feed: {{ feed.name }}</b></div>
	<div style="float:right; text-align: right; padding-bottom:3px;"><a class="mybutton" href="{% url xgds_video_live feed.shortName %}">New Window</a>&nbsp;&nbsp;
		<a class="mybutton" href="{% url xgds_video_recorded %}?source={{ feed.source.shortName }}">Recorded</a></div>
	{% include "xgds_video/video_notes.html" with data=form %}
	<script language="javascript" type="text/javascript">
	  $("#item{{ forloop.counter }}").css({"width":maxWidth,"height":feedHeight+120}); 
	  QT_WriteOBJECT('https://plrp.xgds.org/static/{{ feed.name }}Stream.mov', /* maxWidth */'100%', /* feedHeight */'100%', '', 'AUTOPLAY',
	                 'True', 'qtsrc', '{{ feed.url }}', 'AutoHREF', 'True', 'SCALE', 'Aspect', 'EnableJavaScript', 'True', 'Controller', 'False', 'TARGET', 'Myself',
	                 'emb#NAME' , 'movie{{ forloop.counter }}');
	</script>
	
</div>
{% endfor %}
</div>
{% endblock %}
