{% extends "base.html" %}
{% block headExtras %}
{{block.super}}
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/masonry.pkgd.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">
        jwplayer.key="Wu88H+wZ8jZd7qICLr7IEKSmml1/EOMXWYcblA/CJVk=";
        STATIC_URL='{{ STATIC_URL }}';
        var submitNoteUrl = '{% url record_simple %}';
        var isLive = false;
    </script>
    <script src="{{STATIC_URL}}xgds_video/js/video_size_utils.js" type="text/javascript" ></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}xgds_video/js/recordedVideoSlider.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}xgds_video/js/recordedVideoUtils.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}xgds_video/js/recordedVideoPlayer.js"></script>
    <script src="{{STATIC_URL}}external/js/jquery/jquery.tagsinput.js" type="text/javascript" ></script>
 	<script src="{{STATIC_URL}}external/js/jquery/jquery.form.min.js" type="text/javascript" ></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}external/js/date.js"></script>
 	{% if INCLUDE_NOTE_INPUT %}
 	<script src="{{STATIC_URL}}xgds_video/js/video_notes_form.js" type="text/javascript" ></script>
 	{% endif %}
{% endblock headExtras %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}external/css/jquery/jquery.tagsinput.css"></link>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}external/css/jquery/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}xgds_video/css/xgds_video.css"></link>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}external/css/font-awesome/css/font-awesome.css"></link>
{% endblock cssExtras %}

{% block scripts %}
{% endblock %}

{% load url from future %}
{% load nav %}
{% block siteSection %}Video{% endblock %}
    {% block nav %}
    {% nav "xgds_video_flights" %}
    {{ block.super }}
    {% endblock %}

    {% block sitemenu-content-secondary %}
   		{% include "xgds_video/video_subnav.html" %}
    {% endblock %}
 
{% block contents %}
	{% if messages %}
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for message in messages %}
	        <li>{% if message.tags %} {{ message.tags }}: {% endif %}  {{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endif %}

    {% if segmentsJson %}
    	<div id="topStuff">
	    	<div id="infoTable">
	    	<table>
	    		{% if episode %}
		   			<tr>
		   				<td> <b> Episode (Flight) Name: </b> </td>
		   				<td> {{ episode.shortName }} </td>
		   			</tr>
	   			{% endif %}
	   			<tr>
	   				<td>Current Time: </td>
	   				<td> <label id="sliderTimeLabel"></label></td>
	   			</tr>
	   		</table>
	   		</div>
	   		<div id="seekTimeBox">
				<label for="seekTime">Jump to:</label>
	   			<input  id="seekTime" type="text" name="text-input" placeholder="&#xf017; play from time (HH:MM:SS)" class="stylish"/>
	   			<button type="submit" class="mybutton" id="seekButton" onclick=seekCallBack()> Go </button>
	   		</div>
   		</div>

 		<fieldset id="videoFieldset">
		 	  <div id="masterSlider" class="masterSlider"></div>
	          <div > 
	          	<a class="btn btn-small btn-info" href="#" onclick=playPauseButtonCallBack()>
	              <i id="playbutton" class="fa fa-pause fa-2x"></i>
	              </a>
	          </div>
  		  <div id="legend"></div>
 		</fieldset>

        <div id="container" class="js-masonry" data-masonry-options='{"itemSelector": ".item", "gutter":5, "isInitLayout":false}'>
        {% for source in sources %}
			<div class="item" id="item{{ forloop.counter }}" style="background-color:{{ source.displayColor }};">
	            <div class="buttons">
	                 <div class="toprow-left">Camera: <b>{{ source.name }}</b></div>
                     <a class="mybutton toprow-right" href="{% url 'xgds_video_recorded' flightName source.shortName %}" target="new" style="width:130px">New Window</a>
	                 {% with feed=source.feed_set.all.0.shortName %}
	                 {% if feed %}
	                     <a class="mybutton" id=toprow href="{% url 'xgds_video_live' feed %}">Live</a>
	                 {% endif %}
	                 {% endwith %}
	            </div>
	            {% if INCLUDE_NOTE_INPUT %}
				<section>
             		{% include "xgds_video/video_notes.html" with data=source.form source=source.shortName STATIC_URL=STATIC_URL %}
             	</section>
             	{% endif %}
             	<!--embed the video-->
             	<section>
              		<div id="player_container" class="float-left">
             			<div id="{{ source.shortName }}"></div>
             		</div> <!--  player-container -->
             		<div id="{{ source.shortName }}Label" style="float:left;text-align:left;font-family:arial,verdana,helvetica"> </div>
             	</section>
             	<section>
             		<div class="float-left">
                 	Local Time: <span id="testSiteTime{{ source.shortName }}">0</span>
             		</div>
             	</section>
            </div><!--  item -->
        {% endfor %}
        </div> <!--  js masonry container -->

    {% endif %}
{% endblock contents %}

{% block jsInit %}
{% if INCLUDE_NOTE_INPUT %}
{% include "xgds_video/init_notes.js" %}
{% endif %}

var indexFileUrl = null;

{% if episode %}
    indexFileUrl = "{% url 'xgds_video_index_file' 'flightName' 'sourceShortName' 'segmentIndex' %}";
{% endif %}

{% if segmentsJson %}
    //globals
    var xgds_video = { masterSlider: '',
                       playFlag: true,
                       initialState: false,
                       seekOffsetList: {},
                       baseUrl: "{{ baseUrl }}",
                       episode: {{ episodeJson|safe }},
                       displaySegments: {{ segmentsJson|safe }},
                       firstSegment: null,
                       lastSegment: null,
                       //skinURL: STATIC_URL + 'external/js/jwplayer/jw6-skin-sdk/skins/six/six.xml',
                       onTimePlayer: "{{ sources.0.shortName }}",
                       movingSlider: false, //if slider is moving, turn off onTime call
                       seekOffsetList: {}, //needed for seeking vid in flash mode,
                       indexFileUrl: indexFileUrl,
	                   noteTimeStamp: toJsDateTime({{ noteTimeStamp|safe }}),
	                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
	                   sourceVehicle: {{ sourceVehicle|safe }}
                     };

    // displaySegments are in json format like this:
    // displaySegments['RD1'] = {segment1, segment2, segment3}
    // displaySegments['RD1'][0].startTime would return start time of one of the segments.

    //convert episode start/end time to javascript dateTime
    {% if episode %}
    	convertJSONtoJavascriptDateTime(xgds_video.episode);
	{% endif %}

    // convert segment start and end times to javascript dateTime
    {% for source in sources %}
        var segments = xgds_video.displaySegments["{{ source.shortName }}"];
        if ((segments != undefined) && (segments.length > 0)) {
            $.each(segments, function(id) {
                var segment = segments[id];
                segment.startTime = toJsDateTime(segment.startTime);
                segment.endTime = toJsDateTime(segment.endTime);

                if(xgds_video.firstSegment == null) {
                    xgds_video.firstSegment = segment;
                }
                if (xgds_video.lastSegment == null) {
                    xgds_video.lastSegment = segment;
                }

                if (segment.startTime) {
                    if(segment.startTime < xgds_video.firstSegment.startTime) {
                        xgds_video.firstSegment = segment;
                    }
                }
                if (segment.endTime) {
                    if (segment.endTime > xgds_video.lastSegment.endTime) {
                        xgds_video.lastSegment = segment;
                    }
                }
            });
        }
    {% endfor %}

    //set up the slider and the player
    setupSlider();
    setupJWplayer();
{% endif %}
 	//update masonry sizing
 	$('#container').masonry().masonry();
{% endblock jsInit %}