{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Video{% endblock %}

{% block nav %}
    {% nav "xgds_video_recorded" %}
    {{ block.super }}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    {% include "xgds_notes2/NoteCSS.html" %}
    {% include "xgds_video/VideoCSS.html" %}
 {% endblock cssExtras %}

{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
	{% include "xgds_video/VideoJS.html" with JWPLAYER_KEY=settings.JWPLAYER_KEY STATIC_URL=STATIC_URL %}
	
	{% block myscripts %}
	<script type="text/javascript" src='{{STATIC_URL}}xgds_notes2/js/recordedNotesTable.js'></script>
    {% endblock myscripts %}
{% endblock %}
 
{% block contents %}
    		
	{% block errorMessages %}
	{% if messages %}
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for message in messages %}
	        <li>{% if message.tags %} {{ message.tags }}: {% endif %}  {{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endif %}
	{% endblock errorMessages %}

    {% if segmentsJson %}
    {% block topStuff %}
    	<div id="topStuff" >
    		<div id="controllers" > 
    			<br/>
    			<div class="controller_div">
	          	<a class="btn btn-info" id="playbuttonLink" href="#" onclick="xgds_video.playButtonCallback()">
	              <i id="playbutton" class="icon-play"></i>
	              </a>
	            <a class="btn btn-info" id="pausebuttonLink" href="#" onclick="xgds_video.pauseButtonCallback()">
	              <i id="pausebutton" class="icon-pause active"></i>
	              </a>
	             </div>
	          </div>
	    	<div id="infoTable" >
	    	<table>
	    		{% if episode %}
		   			<tr>
		   				<td> <b> {{ settings.XGDS_PLANNER2_FLIGHT_MONIKER }}: </b> </td>
		   				<td> {{ episode.shortName }} </td>
		   			</tr>
	   			{% endif %}
	   			<tr>
	   				<td>Local Time: </td>
	   				<td> <span id="sliderTimeLabel"></span></td>
	   			</tr>
	   		</table>
	   		</div>
	   		<div id="seekTimeBox" >
				<label for="seekTime">Jump to:</label>
	   			<input  id="seekTime" type="text" name="text-input" placeholder="HH:MM:SS" class="stylish"/>
	   			<button type="submit" class="mybutton small" id="seekButton" onclick='xgds_video.seekCallBack()'> Go </button>
	   		</div>
   		</div>

 		{% endblock topStuff %}
 		
 		{% block ribbonSlider %}
 		<fieldset id="videoFieldset">
 			  <div id="ribbon"></div>
		 	  <div id="masterSlider" class="masterSlider" ><br/></div>
 		</fieldset>
 		{% endblock ribbonSlider %}

		{% block packery %}
        <div id="container"> 
        
        {% block videoSources %}
        {% for source in sources %}
			<div class="item {% if sources|length > 1 %}w2{% endif %} lockAspect" id="item{{ forloop.counter }}" style="background-color:{{ source.displayColor }};">
	            <div class="buttons">
	                 <div class="toprow-left"><b>{{ source.name }}</b></div>
	                 <a class="mybutton toprow-right small" href="{% url 'xgds_video_recorded' flightName source.shortName %}" target="{% if sources|length > 1 %}{{flightName}}_{{source.shortName}}{% else %}_blank{% endif %}" style="width:130px">New Window</a>
                     <a class="mybutton toprow-right small" href="#" onClick="showStillViewer('{{flightName}}', '{{source.shortName}}', getUrlFormatPlayerTime('{{source.shortName}}'));">Still</a>
                     {% with feed=source.feed_set.all.0.shortName %}
	                 {% if feed %}
	                     <a class="mybutton" id=toprow href="{% url 'xgds_video_live' feed %}">Live</a>
	                 {% endif %}
	                 {% endwith %}
	            </div>
				<section id="{{source.shortName}}_noteInput">
             		{% include "xgds_video/video_notes.html" with data=source.form source=source.shortName STATIC_URL=STATIC_URL %}
             	</section>
             	<!--embed the video-->
             	<section>
              		<div id="player_container" class="row"> <!-- float-left">  -->
             			<div id="{{ source.shortName }}" class="eleven columns"></div>
             		</div> <!--  player-container -->
             		<div id="{{ source.shortName }}Label" style="float:left;text-align:left;font-family:arial,verdana,helvetica"> </div>
             	</section>
             	<section>
             		<div class="float-left">
                 	Local Time: <span id="testSiteTime{{ source.shortName }}">0</span>
             		</div>
             	</section>
            </div><!--  item -->
        {% endfor %}
        {% endblock videoSources %}

	{% block otherPackery %}
        <div class="item {% if sources|length > 1 %}w2{% endif %} freeAspect" id="notesDiv" style="background-color:#F9FADE;">
        <div id="messageDiv">
                </div>
                <table id="notes_list" class="notes_list display">
                </table>
        </div>
        {% endblock otherPackery %}
        
        </div> <!--  js packery container -->
        {% endblock packery %}

    {% endif %}
{% endblock contents %}

{% block jsInit %}

{% block setupIndexUrl %}
var indexFileUrl = null;

{% if episode %}
    indexFileUrl = "{% url 'xgds_video_index_file' 'flightName' 'sourceShortName' 'segmentIndex' %}";
{% endif %}
{% endblock setupIndexUrl %}

{% block initSegments %}
{% if segmentsJson %}
	{% block xgds_video_options %}
	var xgds_video = xgds_video || {};
    var xgds_video_options = { playFlag: false,
                       		   seekFlag: false,
		                       initialState: false,
		                       seekOffsetList: {},
		                       episode: {{ episodeJson|safe }},
		                       displaySegments: {{ segmentsJson|safe }},
		                       firstSegment: null,
		                       lastSegment: null,
		                       onTimePlayer: "{{ sources.0.shortName }}",
		                       movingSlider: false, //if slider is moving, turn off onTime call
		                       seekOffsetList: {}, //needed for seeking vid in flash mode,
		                       indexFileUrl: indexFileUrl,
			                   noteTimeStamp: xgds_video.toJsDateTime({{ noteTimeStamp|safe }}),
			                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
			                   sourceVehicle: {{ sourceVehicle|safe }},
			                   timeZone: '{{ flightTZ }}',
        					   hasMasterSlider:true
		                     };
	{% endblock xgds_video_options %}

    {% if episode %}
    	xgds_video.convertJSONtoJavascriptDateTime(xgds_video_options.episode);
	{% endif %}

    {% for source in sources %}
        var segments = xgds_video_options.displaySegments["{{ source.shortName }}"];
        if ((segments != undefined) && (segments.length > 0)) {
            $.each(segments, function(id) {
                var segment = segments[id];
                segment.startTime = xgds_video.toJsDateTime(segment.startTime);
                segment.endTime = xgds_video.toJsDateTime(segment.endTime);

                if(xgds_video_options.firstSegment == null) {
                    xgds_video_options.firstSegment = segment;
                }
                if (xgds_video_options.lastSegment == null) {
                    xgds_video_options.lastSegment = segment;
                }

                if (segment.startTime) {
                    if(segment.startTime < xgds_video_options.firstSegment.startTime) {
                        xgds_video_options.firstSegment = segment;
                    }
                }
                if (segment.endTime) {
                    if (segment.endTime > xgds_video_options.lastSegment.endTime) {
                        xgds_video_options.lastSegment = segment;
                    }
                }
            });
        }
    {% endfor %}
    {% endif %}
    {% endblock initSegments %}

	{% block hookControls %}
	{% if segmentsJson %}
	xgds_video.initialize(xgds_video_options);
    //set up the slider and the player
    if (xgds_video.options.hasMasterSlider){
    	xgds_video.setupSlider();
    }
    xgds_video.setupJWplayer({"mute":true}, "100%");
    xgds_notes.setupNotesUI();
    {% endif %}
    {% endblock hookControls %}
    
    {% block myNotesSetup %}
    var minHeight = 200;
	{% if segmentsJson %}
	{% if sources|length = 1 %}
	{% with filter="flight__name"|add:":"|add:episode.shortName|add:"_"|add:sources.0.shortName%}
		var thefilter = '{{filter}}';
		var recordedNotesURL = "{% url 'xgds_map_server_objectsJson_force' 'XGDS_NOTES_NOTE_MODEL' filter %}";
	{% endwith %}
	{% else %}
	{% with filter="flight__group__name"|add:":"|add:episode.shortName %}
		var thefilter = '{{filter}}';
		var recordedNotesURL = "{% url 'xgds_map_server_objectsJson_force' 'XGDS_NOTES_NOTE_MODEL' filter %}";
	 {% endwith %}
	{% endif %}
	
	var recordedNotesOptions = {
					           recordedNotesURL: recordedNotesURL,
							   columns: {{ settings.XGDS_NOTES_TABLE_DEFAULT_COLUMNS|safe }},
						       ordering: "desc",
						       divHeight: minHeight,
						       editable: {% if settings.GEOCAM_UTIL_DATATABLES_EDITOR %}true{% else %} false {% endif %}
					       };
	{% if SSE %}
	recordedNotesOptions['SSE'] = true;
	recordedNotesOptions['liveNotesStreamURL'] = "{% url 'xgds_notes_liveNotes_stream'  %}" +  thefilter;
	{% endif %}					       
	var recordedNotesController = new recordedNotes.RecordedNotesController(recordedNotesOptions);
	
	{% endif %}
		
	{% endblock myNotesSetup %}
	
	{% block lastJsInit %}
	initializePackery();
	$(function() {
		xgds_video.startPlayers();
	});
	{% endblock lastJsInit %}
 {% endblock jsInit %}
