{% with form=data %}
<div style="float:left; padding-top:2px; padding-bottom:2px; ">
	<form id="create_note{{ form.index }}" action="" method="POST">
		<input type="hidden" id="id_index" value="{{form.index}}"/>
		<input type="hidden" id="id_extras" value="{{form.extras}}"/>
        <input type="hidden" id="id_event_time" value="{{form.event_time.value}}"/>
        <label for="id_content">Note:</label>
        <input id="id_content" type="text" name="content" maxlength="500" size="20"/>
        <label for="id_label">Label:</label>
        {{ form.label }}
        <label for="id_tag">Tags:</label>
        {{ form.tags }}
     <input id="save_note{{ form.index }}" type="submit" value="Save" class="mybutton noteSubmit">
</form>
</div>
{% endwith %}