{% extends "xgds_video/video_recorded_playbacks.html" %}

{% block myscripts %} 
	{{block.super}}
	<script type="text/javascript">
        var isLive = true;
    </script>
{% endblock myscripts %}

    
		{% block ribbonSlider %}
 		<fieldset id="videoFieldset">
		 	  <div id="masterSlider" class="masterSlider" ><br/></div>
 		</fieldset>
 		{% endblock ribbonSlider %}

    {% block xgds_video_options %}
	var xgds_video = xgds_video || {};
    var xgds_video_options = { playFlag: true,
                       		   seekFlag: false,
		                       initialState: false,
		                       seekOffsetList: {},
		                       baseUrl: "{{ baseUrl }}",
		                       episode: {{ episodeJson|safe }},
		                       displaySegments: {{ segmentsJson|safe }},
		                       firstSegment: null,
		                       lastSegment: null,
		                       onTimePlayer: "{{ sources.0.shortName }}",
		                       movingSlider: false, //if slider is moving, turn off onTime call
		                       seekOffsetList: {}, //needed for seeking vid in flash mode,
		                       indexFileUrl: indexFileUrl,
			                   noteTimeStamp: xgds_video.toJsDateTime({{ noteTimeStamp|safe }}),
			                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
			                   sourceVehicle: {{ sourceVehicle|safe }},
			                   timeZone: '{{ flightTZ }}',
        					   hasMasterSlider:false
		                     };
	$('#playbutton').addClass("active");
	$('#pausebutton').removeClass("active");
	{% endblock xgds_video_options %}
	
