{% extends "xgds_video/video_recorded_playbacks.html" %}

{% block myscripts %} 
	{% if SSE %}
    <script type="text/javascript" src='{{STATIC_URL}}xgds_notes/js/liveNotesTable.js'></script>
	{% endif %}
	<script type="text/javascript">
        var hasSliderTimeLabel = false;
        var hasMasterSlider = false;
        var isLive = true;
    </script>
{% endblock myscripts %}


    {% block topStuff %}
    {% if segmentsJson %}
    
    	<div id="topStuff">
    			<div id="controllers" > 
    			<br/>
    			<div class="controller_div">
	          	<a class="btn btn-info" id="playbuttonLink" href="#" onclick="playButtonCallback()">
	              <i id="playbutton" class="icon-play active"></i>
	              </a>
	            <a class="btn btn-info" id="pausebuttonLink" href="#" onclick="pauseButtonCallback()">
	              <i id="pausebutton" class="icon-pause"></i>
	              </a>
	             </div>
	          </div>
	    	<div id="infoTable">
	    	<table>
	    		{% if episode %}
		   			<tr>
		   				<td> <b> {{ settings.XGDS_PLANNER2_FLIGHT_MONIKER }}: </b> </td>
		   				<td> {{ episode.shortName }} </td>
		   			</tr>
	   			{% endif %}
	   		</table>
	   		</div>
   		</div>

 		<fieldset id="videoFieldset">
		 	  <div id="masterSlider" class="masterSlider"></div>
 		</fieldset>
 		 {% endif %}
		{% endblock topStuff %}

        
        {% block otherPackery %}
        {% if SSE %}
        {% if segmentsJson %}
       	<div class="item {% if sources|length > 1 %}w2{% endif %} freeAspect" id="notesDiv" style="background-color:#F9FADE;">
       	<div id="messageDiv">
		</div>
		<table id="notesTable" class="display">
		</table>
       	</div>
       	{% endif %}
       	{% endif %}
        {% endblock otherPackery %}

{% block myNotesSetup %}
{% if SSE %}
{% if sources|length = 1 %}
{% with filter="flight__name"|add:":"|add:episode.shortName|add:"_"|add:sources.0.shortName%}
var thefilter = '{{filter}}';
var liveNotesController = new liveNotes.LiveNotesController({
           liveNotesURL: " {% url 'xgds_notes_liveNotes' %}" +  thefilter,
           liveNotesStreamURL: "{% url 'xgds_notes_liveNotes_stream'  %}" +  thefilter
       });
{% endwith %}
{% else %}
{% with filter="flight__group__episode__shortName"|add:":"|add:episode.shortName %}
var thefilter = '{{filter}}';
var liveNotesController = new liveNotes.LiveNotesController({
           liveNotesStreamURL: "{% url 'xgds_notes_liveNotes_stream' %}"  + thefilter,
           liveNotesURL: " {% url 'xgds_notes_liveNotes'  %}"  + thefilter
       });
 {% endwith %}
{% endif %}
{% endif %}
{% endblock myNotesSetup %}

	{% block hookControls %}
	{% if segmentsJson %}
    presizeVideoDivs();

    //set up the player
    var jwplayerOptions = {
            mute: true
            };
    setupJWplayer({"mute":true}, hasMasterSlider, false, "100%");
    xgds_notes.setupNotesUI();
    {% endif %}
    {% endblock hookControls %}
